-   name: Install epel
    yum:
        name: epel-release
        state: present

-   name: Install Nginx CentOS
    yum:
        name: nginx
        state: present

-   name: Replace Nginx config file by template
    become: true
    template:
        src: templates/nginx.conf
        dest: "/etc/nginx/nginx.conf"

-   name: Create sites-avaliable directory
    file:
        path: /etc/nginx/sites-available
        owner: "{{ bash_username }}"
        group: "{{ bash_username }}"
        mode: 0755
        state: directory

-   name: Create sites-enabled directory
    file:
        path: /etc/nginx/sites-enabled
        owner: "{{ bash_username }}"
        group: "{{ bash_username }}"
        mode: 0755
        state: directory

-   name: Add microservices config files to sites_available directory
    become: true
    template:
        src: templates/symfony.conf
        dest: "/etc/nginx/sites-available/{{ item.host }}"
    with_items: "{{ microservices }}"

-   name: Create symlinks of microservices hosts configs to sites_enabled directory
    become: true
    file:
        src: "/etc/nginx/sites-available/{{ item.host }}"
        dest: "/etc/nginx/sites-enabled/{{ item.host }}"
        state: link
    with_items: "{{ microservices }}"

-   name: Add microservices hosts to /etc/hosts
    become: true
    lineinfile:
        dest: /etc/hosts
        regexp: "{{ item.host }}"
        line: "127.0.0.1 {{ item.host }} "
    with_items: "{{ microservices }}"

-   name: Restart nginx
    service: name=nginx state=restarted enabled=yes

-   name: Ensure nginx is started and that it always starts on boot
    service: name=nginx state=started enabled=yes