{% raw %}{% trans_default_domain 'FOSUserBundle' %}

<div class="login-box">
    <div class="login-logo">
        {% endraw %}<b>{{ project_name|title }}</b>{% raw %}
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg">{{ 'security.login.sign_in_to_start_your_session'|trans }}</p>
        <div class="error">
            {% if error %}
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span>
                    </button>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span>&times;</span>
                        </button>
                        {{ message|trans }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <div class="form-group has-feedback">
                <input id="username" class="form-control" required="required" name="_username"
                       value="{{ last_username }}" placeholder="{{ 'security.login.username'|trans }}"/>
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input class="form-control" required="required" placeholder="{{ 'security.login.password'|trans }}"
                       type="password" id="password"
                       name="_password"/>
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-7 col-xs-offset-1">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-block btn-flat">{{ 'security.login.sign_in'|trans }}</button>
                </div>
            </div>
        </form>
        <br/>

        <div class="social-auth-links text-center">
            <p>{{ 'layout.or'|trans }}</p>
            <a href="{% if app.environment=='dev' %}/app_dev.php{% endif %}/connect/facebook" class="btn btn-block btn-social btn-facebook btn-flat"><i
                        class="fa fa-facebook"></i>{{ 'security.sign_in_using_facebook'|trans }}</a>
            <a href="{% if app.environment=='dev' %}/app_dev.php{% endif %}/connect/google" class="btn btn-block btn-social btn-google btn-flat"><i
                        class="fa fa-google"></i>{{ 'security.sign_in_using_google'|trans }}</a>
        </div>
        <!-- /.social-auth-links -->

        {#<a href="{{ path('fos_user_resetting_request') }}">I forgot my password</a><br>#}
        <div class="row">
            <div class="col-md-6">
                <a href="{{ path('fos_user_registration_register') }}"
                   class="text-center">{{ 'security.login.register_new_membership'|trans }}</a>
                <br/>
                <a href="{{ path('{% endraw %}{{ project_name }}_core_homepage{% raw %}') }}" class="text-center">{{ 'layout.homepage'|trans }}</a>
            </div>
            <div class="col-md-6">
                <a href="{{ path('fos_user_resetting_request') }}"
                   class="text-center">{{ 'link.forgot_password'|trans }}</a>
            </div>
        </div>
    </div>
    <!-- /.login-box-body -->
</div>
{% endraw %}