-   name: Install epel
    yum:
        name: epel-release
        state: present

-   name: Install Nginx CentOS
    yum:
        name: nginx
        state: present

-   name: Replace Nginx config file by template
    become: true
    template:
        src: templates/nginx.conf
        dest: "/etc/nginx/nginx.conf"

-   name: Create sites-avaliable directory
    file:
        path: /etc/nginx/sites-available
        owner: "{{ bash_username }}"
        group: "{{ bash_username }}"
        mode: 0755
        state: directory

-   name: Create sites-enabled directory
    file:
        path: /etc/nginx/sites-enabled
        owner: "{{ bash_username }}"
        group: "{{ bash_username }}"
        mode: 0755
        state: directory

-   name: Ensure nginx is started and that it always starts on boot
    service: name=nginx state=started enabled=yes