-   name: Install utils
    yum:
        name: "{{ item }}"
        state: "present"
    with_items:
        - mc
        - nano
        - curl
        - telnet

-   name: Configure default editor to nano
    lineinfile:
        dest: "/home/{{ bash_username }}/.bashrc"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
    with_items:
        - { regexp: "export VISUAL", line: "export VISUAL=nano" }
        - { regexp: "export EDITOR", line: "export EDITOR=\"$VISUAL\"" }