---
-   name: "Localhost: copy ssh files"
    template:
        src: '{{ item.name }}'
        dest: '/home/{{ bash_username }}/.ssh/{{ item.name }}'
        mode: '{{ item.mode }}'
    with_items: '{{ ssh_files }}'

-   name: "Localhost: Install utils"
    apt:
        pkg: "{{ item }}"
        state: "present"
    with_items:
        - mc
        - curl
        - unzip
        - default-jdk
        - yakuake

-   name: Configure default editor to nano
    lineinfile:
        dest: "/home/{{ bash_username }}/.bashrc"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: yes
    with_items:
        - { regexp: "export VISUAL", line: "export VISUAL=nano" }
        - { regexp: "export EDITOR", line: "export EDITOR=\"$VISUAL\"" }

-   name: "Localhost: Config yakuake"
    template:
        src: 'yakuakerc'
        dest: '/home/{{ bash_username }}/.kde/share/config/yakuakerc'
        mode: '0600'
