-   name: 'clean php-common'
    yum:
        name: php-common
        state: removed

-   name: 'Add repository EPEL'
    yum:
        name: https://mirror.webtatic.com/yum/el7/webtatic-release.rpm

-   name: 'Install epel-release'
    yum:
        name: epel-release
        state: latest

-   name: 'Install PHP 7.1'
    yum:
        name: "{{ item }}"
        state: latest
    with_items:
        - php71w
        - php71w-fpm
        - php71w-opcache
        - php71w-pecl-xdebug
        - php71w-pdo
        - php71w-mbstring
        - php71w-bcmath
        - php71w-mcrypt
        - php71w-pgsql

-   name: 'php7.1-fpm | configure php.ini'
    lineinfile:
        dest: /etc/php.ini
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: yes
    with_items:
        - { regexp: "date.timezone", line: "date.timezone = 'UTC'" }
        - { regexp: "short_open_tag =", line: "short_open_tag = Off" }
        - { regexp: "expose_php =", line: "expose_php = Off" }
        - { regexp: "memory_limit =", line: "memory_limit = {{ memory_limit }}" }
        - { regexp: "display_errors =", line: "display_errors = Off" }
        - { regexp: "upload_max_filesize =", line: "upload_max_filesize = {{ upload_max_file_size }}" }
        - { regexp: "post_max_size =", line: "post_max_size = {{ upload_max_file_size }}" }
        - { regexp: "max_input_vars =", line: "max_input_vars = {{ max_input_vars }}" }
        - { regexp: "hhvm.libxml.ext_entity_whitelist =", line: "hhvm.libxml.ext_entity_whitelist = file,http,https" }

-   name: 'php7.1-fpm | update listen config'
    lineinfile:
        dest: /etc/php-fpm.d/www.conf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: no
    with_items:
        - { regexp: "listen.owner =", line: "listen.owner = {{ listen_user }}" }
        - { regexp: "listen.group =", line: "listen.group = {{ listen_group }}" }
        - { regexp: "listen.mode =", line: "listen.mode = 0660" }

-   name: 'php7.1-fpm | update user and group'
    lineinfile:
        dest: /etc/php-fpm.d/www.conf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: no
    with_items:
        - { regexp: "^user =", line: "user = vagrant" }
        - { regexp: "^group =", line: "group = vagrant" }

-   name: 'Change listen for php-fpm'
    lineinfile:
        dest: /etc/php-fpm.d/www.conf
        regexp: '^listen\s*=.*$'
        line: "listen=/var/run/php-fpm.sock"
        state: present
    notify: restart php-fpm

-   name: 'php7.1-xdebug | configure xdebug.ini'
    lineinfile:
        dest: /etc/php.d/xdebug.ini
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: no
    with_items:
        - { regexp: "zend_extension=", line: "zend_extension=/usr/lib64/php/modules/xdebug.so" }
        - { regexp: "xdebug.remote_enable = 1", line: "xdebug.remote_enable = 1" }
        - { regexp: "xdebug.remote_host = 10.0.2.2", line: "xdebug.remote_host = 10.0.2.2" }
        - { regexp: "xdebug.remote_connect_back = On", line: "xdebug.remote_connect_back = On" }
        - { regexp: "xdebug.remote_port = 9000", line: "xdebug.remote_port = 9000" }
        - { regexp: "xdebug.idekey = PHPSTORM", line: "xdebug.idekey = PHPSTORM" }
        - { regexp: "xdebug.remote_autostart = On", line: "xdebug.remote_autostart = On" }

-   name: 'Restart php71-fpm'
    service:
        name: php-fpm
        state: restarted
        enabled: yes

-   name: 'Ensure service is started and that it always starts on boot'
    service:
        name: php-fpm
        state: started
        enabled: yes