<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    {% block seo_meta %}
        {% set url = project.hostname ~ asset('/bundles/quizhubapp/img/site/site-image.jpg') %}
        <meta name="description" content="{{ 'seo.description'|trans }}"/>
        <meta name="og:image" content="{{ url }}"/>
        <meta name="og:description" content="{{ 'seo.description'|trans }}"/>
        <meta name="og:title" content="{{ 'seo.title'|trans }}"/>
        <meta name="url" content="{{ url }}"/>
        <meta name="subject" content="{{ 'seo.title'|trans }}"/>
        <meta name="language" content="EN"/>
        <meta name="og:region" content="CA"/>
        <meta name="og:country-name" content="USA"/>
    {% endblock %}
    <title>{% block title %}{{ project.name }}{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" type="text/css"
              href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}"/>
        <link rel="stylesheet" type="text/css"
              href="{{ asset('assets/vendor/bootstrap-grid/dist/bootstrap-grid.min.css') }}"/>
        <link rel="stylesheet" type="text/css"
              href="{{ asset('assets/vendor/bootstrap-callouts/dist/bs-callouts.css') }}"/>
        <link rel="stylesheet" type="text/css"
              href="{{ asset('assets/vendor/font-awesome/css/font-awesome.min.css') }}"/>
        <link rel="stylesheet" type="text/css"
              href="{{ asset('assets/vendor/angular-loading-bar/build/loading-bar.min.css') }}"/>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    {% endblock %}
    {% block headJavascripts %}
        <script src="{{ asset('assets/vendor/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/vendor/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    {% block angularJS %}{% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
    <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}"/>
</head>
<body>
<div class="container">
    {% block breadCrumbs %}
        {% if breadcrumbs is defined %}
            <ol class="breadcrumb">
                <li><a href="{{ project.hostname }}">{{ 'layout.homepage'|trans({}) }}</a></li>
                {% for item in breadcrumbs.items %}
                    {% if item.name is defined %}
                        {% if item.route is not defined %}
                            <li>{{ item.name|trans({}) }}</li>
                        {% else %}
                            <li><a href="{{ path(item.route) }}">{{ item.name|trans({}) }}</a></li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ol>
        {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}
</div>
{% block bottomJavascripts %}{% endblock %}
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-info-col">
                <label>{{ 'label.support'|trans }}:</label><a href="mailto:{{ support_email }}">{{ support_email }}</a>
            </div>
            <div class="col-md-4"></div>
            <div class="col-md-4"></div>
        </div>
        <div class="copyright">
            Copyright &copy; <a
                    href="{{ project.hostname }}">{{ project.name }}</a>{{ 'layout.all_rights_reserved'|trans({}) }}
        </div>
    </div>
</div>
{% block modals %}{% endblock %}
</body>
</html>
