-   name: 'PHP5-centos:Add repository EPEL'
    yum:
        name: http://dl.fedoraproject.org/pub/epel/6/i386/epel-release-6-8.noarch.rpm

-   name: 'PHP5-centos:Install epel-release'
    yum:
        name: epel-release
        state: installed

-   name: 'PHP5-centos:Enable remi repo for PHP 5.6.'
        set_fact:
            php_enablerepo: "remi,remi-php56"

-   name: 'PHP5-centos:Install PHP 5'
    yum:
        name: "{{ item }}"
        state: installed
    with_items:
        - php
        - php-xdebug
        - php-fpm
        - php-pdo
        - php-mbstring
        - php-bcmath
        - php-mcrypt
        - php-pgsql

-   name: 'PHP5-centos:php5-fpm | configure php.ini'
    lineinfile:
        dest: /etc/php.ini
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: yes
    with_items:
        - { regexp: "date.timezone", line: "date.timezone = 'UTC'" }
        - { regexp: "short_open_tag =", line: "short_open_tag = Off" }
        - { regexp: "expose_php =", line: "expose_php = Off" }
        - { regexp: "memory_limit =", line: "memory_limit = {{ memory_limit }}" }
        - { regexp: "display_errors =", line: "display_errors = Off" }
        - { regexp: "upload_max_filesize =", line: "upload_max_filesize = {{ upload_max_file_size }}" }
        - { regexp: "post_max_size =", line: "post_max_size = {{ upload_max_file_size }}" }
        - { regexp: "max_input_vars =", line: "max_input_vars = {{ max_input_vars }}" }
        - { regexp: "hhvm.libxml.ext_entity_whitelist =", line: "hhvm.libxml.ext_entity_whitelist = file,http,https" }

-   name: 'PHP5-centos:php5-fpm | update listen config'
    lineinfile:
        dest: /etc/php-fpm.d/www.conf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: no
    with_items:
        - { regexp: "listen.owner =", line: "listen.owner = {{ listen_user }}" }
        - { regexp: "listen.group =", line: "listen.group = {{ listen_group }}" }
        - { regexp: "listen.mode =", line: "listen.mode = 0660" }

-   name: 'PHP5-centos:php5-fpm | update user and group'
    lineinfile:
        dest: /etc/php-fpm.d/www.conf
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: no
    with_items:
        - { regexp: "^user =", line: "user = vagrant" }
        - { regexp: "^group =", line: "group = vagrant" }

-   name: 'PHP5-centos:Change listen for php-fpm'
    lineinfile:
        dest: /etc/php-fpm.d/www.conf
        regexp: '^listen\s*=.*$'
        line: "listen=/var/run/php-fpm.sock"
        state: present
    notify: restart php-fpm

-   name: 'PHP5-centos:php5-xdebug | configure xdebug.ini'
    lineinfile:
        dest: /etc/php.d/xdebug.ini
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        backup: no
    with_items:
        - { regexp: "zend_extension=", line: "zend_extension=/usr/lib64/php/modules/xdebug.so" }
        - { regexp: "xdebug.remote_enable = 1", line: "xdebug.remote_enable = 1" }
        - { regexp: "xdebug.remote_host = 10.0.2.2", line: "xdebug.remote_host = 10.0.2.2" }
        - { regexp: "xdebug.remote_connect_back = On", line: "xdebug.remote_connect_back = On" }
        - { regexp: "xdebug.remote_port = 9000", line: "xdebug.remote_port = 9000" }
        - { regexp: "xdebug.idekey = PHPSTORM", line: "xdebug.idekey = PHPSTORM" }
        - { regexp: "xdebug.remote_autostart = On", line: "xdebug.remote_autostart = On" }

-   name: 'PHP5-centos:Restart PHP5-fpm'
    service:
        name: php-fpm
        state: restarted
        enabled: yes

-   name: 'PHP5-centos:Ensure service is started and that it always starts on boot'
    service:
        name: php-fpm
        state: started
        enabled: yes