---
-   name: "touch .bash_aliases"
    file:
        path: '/home/{{ bash_username }}/.bash_aliases'
        state: touch

-   name: "add aliases"
    lineinfile:
        dest: "/home/{{ bash_username }}/.bash_aliases"
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
    with_items:
        - { regexp: "alias initQuizhub", line: 'alias initQuizhub="cd /var/www/projects/quizhub.tk; git pull origin stage --rebase; sudo docker-compose up -d --build; sh shell/init_db.sh; bin/console doctrine:migrations:migrate --quiet"' }
        - { regexp: "alias updateQuizhub", line: 'alias updateQuizhub="cd /var/www/projects/quizhub.tk; git pull origin stage --rebase; bin/console doctrine:migrations:migrate"' }

-   name: "exec_bash"
    shell: 'exec bash'

-   name: "Create certs path"
    file:
        path: /etc/ssl/crt
        state: directory
        mode: 0600

-   name: "Create csr path"
    file:
        path: /etc/ssl/csr
        state: directory
        mode: 0600

-   name: "Add projects config files to sites_available directory"
    become: true
    template:
        src: templates/symfony.conf
        dest: "/etc/nginx/sites-available/{{ item.host }}"
    with_items: "{{ projects }}"

-   name: "Create symlinks of projects hosts configs to sites_enabled directory"
    become: true
    file:
        src: "/etc/nginx/sites-available/{{ item.host }}"
        dest: "/etc/nginx/sites-enabled/{{ item.host }}"
        state: link
    with_items: "{{ projects }}"

-   name: "Ensure nginx is started and enabled to start at boot."
    service:
        name: nginx
        state: started
        enabled: yes

-   name: hosts configuration
    become: true
    template:
        src: hosts
        dest: /etc/hosts

#-   name: "disable iptables"
#    service:
#        name: iptables
#        state: stopped
#        enabled: no