---
-   name: 'Install git'
    yum:
        name: git
        state: present

-   name: 'download {{ git_version }} release'
    unarchive:
        src: "https://github.com/git/git/archive/v{{ git_version }}.tar.gz"
        dest: /tmp
        remote_src: yes

-   name: 'install development tools'
    yum:
        name: "{{ item }}"
        state: "present"
    with_items:
        - gcc
        - gcc-c++
        - openssl-devel
        - curl-devel
        - expat-devel
        - kernel-devel
        - perl-devel

-   name: 'Compile git from sources'
    make:
        chdir: "/tmp/git-{{ git_version }}"
        target: all
        params:
            prefix: /usr/local/git

-   name: 'install git'
    make:
        chdir: "/tmp/git-{{ git_version }}"
        target: install
        params:
            prefix: /usr/local/git

-   name: 'create script file to set path'
    template:
        src: setGitPath.sh
        dest: /etc/profile.d/setGitPath.sh

-   name: 'apply changes'
    shell: 'source  /etc/profile.d/setGitPath.sh'

-   name: 'Check file .gitconfig exists'
    file:
        dest: "/home/{{ bash_username }}/.gitconfig"
        owner: "{{ bash_username }}"
        group: "{{ bash_username }}"
        mode: 0755
        state: touch

-   name: 'Git user configuration'
    template:
        src: templates/.gitconfig
        dest: "/home/{{ bash_username }}/.gitconfig"