---
-   name: Install git
    register: is_installed
    yum:
        name: git
        state: present

-   name: Check file .gitconfig exists
    file:
        dest: "/home/{{ bash_username }}/.gitconfig"
        owner: "{{ bash_username }}"
        group: "{{ bash_username }}"
        mode: 0755
        state: touch

-   name: Git user configuration
    template:
        src: templates/.gitconfig
        dest: "/home/{{ bash_username }}/.gitconfig"