---
-   name: Remove default AppBundle directory
    file:
        state: absent
        path: "{{ project_web_path }}/src/AppBundle"

-   name: Replace config with default
    template:
        src: config.yml
        dest: "{{ project_web_path }}/app/config/config.yml"

-   name: Replace composer.json with template
    template:
        src: composer.json
        dest: "{{ project_web_path }}/composer.json"

-   name: Replace AppKernel.php with default
    template:
        src: AppKernel.php
        dest: "{{ project_web_path }}/app/AppKernel.php"

-   name: Replace services.yml
    template:
        src: services.yml
        dest: "{{ project_web_path }}/app/config/services.yml"

-   name: Replace routing.yml
    template:
        src: routing.yml
        dest: "{{ project_web_path }}/app/config/routing.yml"

-   name: Replace core bundle routing.yml file
    template:
        src: bundle_routing.yml
        dest: "{{ project_web_path }}/src/{{ project_name|title }}/{{ core_bundle_name }}/Resources/config/routing.yml"

-   name: Check that the Bundle exists
    stat:
        path: "{{ project_web_path }}/src/{{ project_name|title }}/{{ core_bundle_name }}"
    register: stat_result

-   name: Generate bundle
    shell: "{{ project_web_path }}/bin/console generate:bundle --namespace={{ project_name|title }}/{{ core_bundle_name }} --dir=src --no-interaction"
    when: stat_result.stat.exists == False

-   name: "{{ namespace}} Enable bundle"
    lineinfile:
        dest: "{{ project_web_path }}/app/AppKernel.php"
        regexp: '^Bundles'
        insertafter: '#Bundles'
        line: '            new {{namespace}}\{{ core_bundle_full_name }},'
        state: present

