---
-   name: 'Default config: Replace app_dev.php with default'
    template:
        src: default_config/app_dev.php
        dest: "{{ project_web_path }}/web/app_dev.php"

-   name: 'Default config: Remove default AppBundle directory'
    file:
        state: absent
        path: "{{ project_web_path }}/src/AppBundle"

-   name: 'Default config: Replace composer.json with template'
    template:
        src: default_config/composer.json
        dest: "{{ project_web_path }}/composer.json"

-   name: 'Default config: Replace .bowerrc with template'
    template:
        src: default_config/.bowerrc
        dest: "{{ project_web_path }}/.bowerrc"

-   name: 'Default config: Replace bower.json with template'
    template:
        src: default_config/bower.json
        dest: "{{ project_web_path }}/bower.json"
                
-   name: 'Default config: Replace services.yml'
    template:
        src: default_config/services.yml
        dest: "{{ project_web_path }}/app/config/services.yml"

-   name: 'Default config: Check that the Bundle exists'
    stat:
        path: "{{ project_web_path }}/src/{{ project_name|title }}/{{ core_bundle_name }}Bundle"
    register: stat_result

-   name: 'Default config: Generate bundle'
    shell: "{{ project_web_path }}/bin/console generate:bundle --namespace={{ project_name|title }}/{{ core_bundle_name }}Bundle --dir=src --no-interaction --format yml --shared "
    when: stat_result.stat.exists == False

-   name: 'Default config: Replace core bundle routing.yml file'
    template:
        src: default_config/bundle_routing.yml
        dest: "{{ project_web_path }}/src/{{ project_name|title }}/{{ core_bundle_name }}Bundle/Resources/config/routing.yml"

-   name: 'Default config: Enable bundle'
    lineinfile:
        dest: "{{ project_web_path }}/app/AppKernel.php"
        regexp: "{{ core_bundle_full_name }}()"
        insertbefore: ' *\];'
        line: "            new {{namespace}}\\{{ core_bundle_full_name }}(),"
        state: present

-   name: 'Default config: Replace DefaultController.php with default'
    template:
        src: default_config/DefaultController.php
        dest: "{{ project_web_path }}/src/{{project_name|title}}/{{ core_bundle_name }}Bundle/Controller"